.container{
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
    width: 50%;
    min-width: 300px;
}

.button{
    float: right;
}

.foodInput{
    width: 100%;
    padding: 5px;
    margin: 10px 0px;

}